---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{#- Only canonical, indexable pages: anything marked noindex (the thank-you
    page, the 404) or excluded from collections stays out. -#}
{%- for item in collections.all | sort(false, false, 'url') %}
{%- if item.url and not item.data.noindex and not item.data.eleventyExcludeFromCollections %}
  <url>
    <loc>{{ site.url }}{{ item.url }}</loc>
    <lastmod>{{ item.data.lastmod }}</lastmod>
  </url>
{%- endif %}
{%- endfor %}
</urlset>
